---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Abril 2024 – Actualidad",
    title: "Ingeniero en Software y Desarrollador Web",
    company: "Freelance",
    description:
      "Trabajo con empresas y emprendedores para llevar sus ideas del papel a la web. Diseño y desarrollo soluciones a medida: desde landing pages rápidas hasta aplicaciones completas con panel de administración. Me encargo de todo el ciclo, usando tecnologías como React, Django, FastAPI, MySQL y Docker. Objetivo: que la tecnología trabaje por ellos, no al revés."
  },
  {
    date: "Abril 2025 – Agosto 2025",
    title: "Desarrollador Full Stack",
    company: "Cerrajes",
    description:
      "Desarrollé y mantuve sistemas web y móviles para optimizar procesos internos y mejorar la experiencia de clientes. Mejoré tiempos de carga hasta un 40%, automatizando tareas repetitivas y creando interfaces intuitivas. Colaboré con área de logística y soporte para asegurar que cada cambio resolviera un problema real. Stack: FastAPI, React Native, MySQL, Docker, Linux."
  },
  {
    date: "Septiembre 2022 – Abril 2024",
    title: "Ingeniero Linux",
    company: "Indra",
    description:
      "Formé parte del equipo encargado de sistemas Linux críticos. Automatizaba tareas con scripts, aseguraba la disponibilidad 24/7 de servidores y reforzaba la seguridad. La meta era simple pero clave: que nada se detuviera."
  },
  {
    date: "Marzo 2020 – Marzo 2021",
    title: "Desarrollador Web",
    company: "Hamster Connect",
    description:
      "Colaboré con equipos en Países Bajos y Australia para construir una red social para emprendedores. Implementé funcionalidades de perfiles, publicaciones y notificaciones, trabajando tanto en frontend como backend. El objetivo: lograr que las ideas llegaran a las personas indicadas."
  },
  {
    date: "Agosto 2017 – Septiembre 2023",
    title: "Desarrollador Web",
    company: "Universidad Anáhuac Querétaro",
    description:
      "Desarrollé y mantuve 7 sistemas dentro del proyecto SmartCampus, incluyendo Admisiones, reportes académicos y gestiones administrativas. Digitalizamos procesos clave, mejorando la experiencia de estudiantes y reduciendo la carga administrativa."
  }
];


---

<ol class="relative mt-16 text-justify">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
